PORT=5000
NODE_ENV=development

DATABASE_URL="postgresql://username:your-password@localhost:port/database-name"

JWT_SECRET="YOUR-SECRET-KEY"
JWT_REFRESH_SECRET="YOUR-REFRESH-SECRET-KEY"
JWT_EXPIRES_IN="your-time-value"
JWT_REFRESH_EXPIRES_IN="your-time-value"

RESEND_API_KEY="your-resend-api-key"

FRONTEND_URL="http://localhost:5173"