.value-item {
    text-align: center;
    padding: $spacing-lg;
    justify-items: center;

    .value-icon {
        width: 80px;
        height: 80px;
        background: $gray-soft;
        border-radius: $radius-2xl;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto $spacing-lg;
        font-size: $font-size-2xl;
        color: $primary;
    }

    h3 {
        font-size: $font-size-xl;
        margin-bottom: $spacing-md;
    }

    p {
        color: $text-secondary;
        line-height: 1.6;
    }

    @media (max-width: 1023px) and (min-width: 768px) {
        .value-icon {
            width: 70px;
            height: 70px;
            font-size: $font-size-1-8xl;
        }

        h3 {
            font-size: $font-size-lg;
        }

        p {
            font-size: $font-size-xs;
        }
    }

    @media (max-width: 767px) {
        p {
            width: 80%;
        }
    }
}