$master-card-space-rad: $spacing-lg - 4px;
$spacing-2xs: $spacing-xs - 4px;
$spacing-3xs: $spacing-xs - 8px;

.master-card {
    background: $white;
    border-radius: $master-card-space-rad;
    padding: $master-card-space-rad;
    color: $text-primary;
    margin-bottom: $spacing-md;
    display: flex;
    align-items: center;
    gap: $spacing-md;

    .master-avatar {
        width: 50px;
        height: 50px;
        background: $gray-soft;
        border-radius: $radius-round;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        font-weight: bold;
        user-select: none;
        flex-shrink: 0;
    }

    .master-info {
        flex: 1;           
        min-width: 0;      
    }

    .master-info h4 {
        margin-bottom: $spacing-2xs;
    }

    .master-info p {
        color: $text-secondary;
        font-size: $font-size-2xs;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .rating {
        display: flex;
        align-items: center;
        color: $yellow;
        margin-left: auto;
        font-weight: 700;
        flex-shrink: 0;
    }

    @media (max-width: 1300px) and (min-width: 1024px) {
        padding: $spacing-sm;
        gap: $spacing-xs;

        .master-avatar {
            width: 40px;
            height: 40px;
        }

        .master-info {
            h4 {
                font-size: $font-size-xs;
                margin-bottom: $spacing-3xs;
            }

            p {
                font-size: $font-size-2xs;
            }
        }

        .rating {
            font-size: $font-size-2xs;
        }
    }
}